--extra-index-url https://download.pytorch.org/whl/cpu
optimum[openvino]==1.19.1
optimum-intel[openvino] @ git+https://github.com/apaniukov/optimum-intel.git@ov-tokenizers-leftovers
einops==0.7.0  # For Qwen
transformers_stream_generator==0.0.4  # For Qwen
