--extra-index-url https://download.pytorch.org/whl/cpu
numpy
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
openvino~=2024.3.0
openvino-tokenizers~=2024.3.0
openvino_genai~=2024.3.0
auto-gptq>=0.5.1 # for gptq
pillow
torch<2.5.0+cpu
torchvision<0.20.0+cpu
transformers>=4.40.0,<4.43.0
diffusers>=0.22.0
#optimum is in dependency list of optimum-intel
git+https://github.com/eaidova/optimum-intel.git@ea/remove_bf16_rotary_emb_patching#egg=optimum-intel
nncf~=2.12.0
packaging
psutil
timm
tiktoken
onnx
einops
transformers_stream_generator
bitsandbytes
