--extra-index-url https://download.pytorch.org/whl/cpu
numpy
openvino>=2023.1.0
auto-gptq>=0.5.1 # for gptq
pillow
torch
transformers>=4.33.0
diffusers>=0.22.0
optimum>=1.14.0
git+https://github.com/huggingface/optimum-intel.git@672c0228f511b6e9db1c690fce46ab5338908193
git+https://github.com/openvinotoolkit/nncf.git@6d17662fec917e1293189e2c3a2b94139a433f16
packaging
psutil
timm
tiktoken
onnx
einops
transformers_stream_generator
