[submodule "thirdparty/openvino_contrib"]
    path = thirdparty/openvino_contrib
    url = https://github.com/openvinotoolkit/openvino_contrib.git
[submodule "llm/qwen_cpp/third_party/re2"]
	path = llm/qwen_cpp/third_party/re2
	url = https://github.com/google/re2.git
[submodule "llm/qwen_cpp/third_party/abseil-cpp"]
	path = llm/qwen_cpp/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
