# They are copied to python folder during the build to allow skipping wheel installation
src/python/openvino/genai/*generate_pipeline_lib*
src/python/openvino/genai/py_generate_pipeline*

# build/artifact dirs
_*
[Bb]uild*/
cmake-build*

# but ensure we don't skip __init__.py and __main__.py
!__init__.py
!__main__.py

# developer tools
*.idea
.vscode
.vs/
.vsconan/
.DS_Store
**/tags
compile_commands.json
bin/
.local_vimrc
.gdb_history
.vimspector.json
doc/
docs/build_documentation/work_dir/
temp/
.repo/
CMakeLists.txt.user
docs/IE_PLUGIN_DG/html/
CMakeUserPresets.json

*.project
*.cproject
*.pydevproject
*.settings
*/gen/
*.swp
/config.xml

# Python-specific
*.?env*
*.pyc
__pycache__