--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly/
# we need at least openvino 2024.2
openvino >= 2024.2
openvino-tokenizers
# use latest released version once it's available
git+https://github.com/huggingface/optimum-intel.git@main
pytest
pytest-html
# set 'export HF_HUB_ENABLE_HF_TRANSFER=1' to benefits from hf_transfer
hf_transfer