.benefitItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;

  .icon {
    font-size: 3rem;
  }

  .title {
    margin-bottom: 0.75rem;
  }

  .description {
    margin: 0;
    text-align: center;
  }
}
