.goToLink {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;

    &:hover {
        text-decoration: none;
        color: var(--black);
    }
}