--extra-index-url https://download.pytorch.org/whl/cpu
numpy
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/pre-release
--extra-index-url https://storage.openvinotoolkit.org/simple/wheels/nightly
openvino
openvino-tokenizers
openvino_genai
pillow
torch
transformers[sentencepiece]>=4.40.0
diffusers>=0.22.0
#optimum is in dependency list of optimum-intel 
git+https://github.com/huggingface/optimum-intel.git@main#egg=optimum-intel
git+https://github.com/openvinotoolkit/nncf.git@develop#egg=nncf
packaging
psutil
timm
tiktoken
transformers>=4.52.1,<4.53
librosa # For Whisper
matplotlib
