.installation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.installationTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin: 0;
}

.installationDescription {
  margin: 0 auto;
}

.installationOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  button {
    --button-icon-size: 2.25rem;

    width: 14rem;
    height: 4rem;
    font-size: 1rem;
  }
}
