--extra-index-url https://download.pytorch.org/whl/cpu
diffusers==0.34.0
optimum-intel==1.25.1
numpy==2.1.2; platform_system == "Darwin" and platform_machine == "x86_64"
safetensors==0.6.2; platform_system == "Darwin" and platform_machine == "x86_64"
pytest==8.4.1
transformers==4.52.4
hf_transfer==0.1.9
gguf==0.17.1

# rag requirements
langchain_community==0.3.27
langchain-core==0.3.74

# requirements for specific models
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
einops==0.8.1
# - openbmb/MiniCPM-V-2
torchvision==0.17.2; platform_system == "Darwin" and platform_machine == "x86_64"
torchvision==0.23.0; platform_system != "Darwin" or platform_machine != "x86_64"
# - openbmb/MiniCPM-V-2
timm==1.0.19
# - openai/whisper-base
librosa==0.11.0
soundfile==0.13.1
datasets==3.6.0
rouge==1.0.1
# - microsoft/Phi-4-multimodal-instruct
peft==0.17.0
