--extra-index-url https://download.pytorch.org/whl/cpu
# optimum is pinned because of Whisper is changed since transformers 4.47 (https://github.com/huggingface/optimum-intel/pull/1088)
optimum-intel @ git+https://github.com/huggingface/optimum-intel.git@753f84db6e0966580eb9eaa74a808213be730631
numpy<2.0.0; sys_platform == 'darwin'
onnx==1.16.1
pytest
tools/who_what_benchmark

# requirements for specific models
# - hf-tiny-model-private/tiny-random-RoFormerForCausalLM
rjieba
# - baichuan-inc/Baichuan2-7B-Chat
bitsandbytes
# - nomic-ai/gpt4all-falcon
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
# - mosaicml/mpt-7b
# - internlm/internlm2-7b
einops
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
transformers_stream_generator
# - openbmb/MiniCPM-V-2
torchvision
# - openbmb/MiniCPM-V-2
timm
# - Qwen/Qwen-7B
# - Qwen/Qwen-7B-Chat
# - Salesforce/xgen-7b-8k-base
tiktoken
# - microsoft/biogpt
sacremoses
# - openai/whisper-base
librosa
soundfile
datasets