.useCasesSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem 10rem;

  .title {
    margin-bottom: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
