.useCasesSection {
  composes: section from '../section-styles.module.css';

  background-color: var(--genai-color-section-bg);
}

.sectionTitle {
  composes: sectionTitle from '../section-styles.module.css';
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
