name: Lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

env:
  OV_BRANCH: master

jobs:
  openvino_download:
    name: Download OpenVINO
    runs-on: aks-linux-medium
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    container:
      image: "openvinogithubactions.azurecr.io/openvino_provider:0.1.0"
      volumes:
        - /mount:/mount
        - ${{ github.workspace }}:${{ github.workspace }}
    outputs:
      ov_artifact_name: ${{ steps.openvino_download.outputs.ov_artifact_name }}
    steps:
      - uses: openvinotoolkit/openvino/.github/actions/openvino_provider@master
        id: openvino_download
        with:
          platform: ubuntu22
          commit_packages_to_provide: developer_package.tar.gz
          revision: latest_available_commit

  lint:
    name: Lint Changed Files
    needs: [openvino_download]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    env:
      OV_INSTALL_DIR: ${{ github.workspace }}/ov

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Download OpenVINO package
        uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
        with:
          name: ${{ needs.openvino_download.outputs.ov_artifact_name }}
          path: ${{ env.OV_INSTALL_DIR }}
          merge-multiple: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format clang-tidy cmake ninja-build

      - name: Configure CMake to generate compile_commands.json
        run: |
          source ${{ env.OV_INSTALL_DIR }}/setupvars.sh
          cmake -B build -G Ninja \
            -DOpenVINODeveloperPackage_DIR=${{ env.OV_INSTALL_DIR }}/developer_package/cmake \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run pre-commit on changed files
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --from-ref origin/${{ github.base_ref || 'master' }} --to-ref HEAD
