name: Lint

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions: read-all

env:
  OV_BRANCH: master

jobs:
  lint:
    name: Lint Changed Files
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.10"

      - name: Run pre-commit on changed files
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --from-ref origin/${{ github.base_ref || 'master' }} --to-ref HEAD
