name: Windows (VS 2022, Python 3.11)
on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - 'releases/**'

permissions: read-all # Required by https://github.com/ossf/scorecard/blob/e23b8ad91fd6a64a0a971ca4fc0a4d1650725615/docs/checks.md#token-permissions

concurrency:
  # github.ref is not unique in post-commit
  group: ${{ github.event_name == 'push' && github.run_id || github.ref }}-windows
  cancel-in-progress: true

env:
  PYTHON_VERSION: '3.11'
  TARGET_BRANCH: 'master'
  PYTHONIOENCODING: utf8
  CMAKE_CXX_COMPILER_LAUNCHER: ccache
  CMAKE_C_COMPILER_LAUNCHER: ccache
  CCACHE_MAXSIZE: 500Mi
  OPENVINO_LOG_LEVEL: 2  # Windows fails with out of memory because of too verbose logging
  ARTIFACTS_SHARE: '/mount/build-artifacts'
  BASE_PRODUCT_TYPE: public_windows_vs2022
  GENAI_WHEELS_ARTIFACT_NAME: 'genai_wheels'
  GENAI_ARCHIVE_ARTIFACT_BASE_NAME: 'genai_cpack'

jobs:
  # smart_ci:
  #   name: Smart CI
  #   runs-on: ubuntu-latest
  #   outputs:
  #     affected_components: "${{ steps.smart_ci.outputs.affected_components }}"
  #     changed_components: "${{ steps.smart_ci.outputs.changed_components }}"
  #     skip_workflow: "${{ steps.smart_ci.outputs.skip_workflow }}"
  #   steps:
  #     - name: checkout action
  #       uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
  #       timeout-minutes: 15
  #       with:
  #         sparse-checkout: .github

  #     - name: Get affected components
  #       id: smart_ci
  #       uses: openvinotoolkit/openvino/.github/actions/smart-ci@36a8f092d3250e7a2a365f0445e61297d91c358e
  #       with:
  #         repository: ${{ github.repository }}
  #         pr: ${{ github.event.number }}
  #         commit_sha: ${{ github.sha }}
  #         ref_name: ${{ github.ref_name }}
  #         component_pattern: "category: ((?!Python API|CPP API).*)"
  #         repo_token: ${{ secrets.GITHUB_TOKEN }}
  #         skip_when_only_listed_labels_set: 'GH Pages Docs'
  #         skip_when_only_listed_files_changed: '*.md,*.rst,*.png,*.jpg,*.svg,*.gif'

  #     - name: Show affected components
  #       run: echo "${{ toJSON(steps.smart_ci.outputs.affected_components) }}"
  #       shell: bash

  # openvino_download:
  #   needs: smart_ci
  #   if: ${{ github.event_name != 'merge_group' && needs.smart_ci.outputs.skip_workflow != 'True' }}
  #   name: Download prebuilt OpenVINO
  #   outputs:
  #     status: ${{ steps.openvino_download.outcome }}
  #     ov_artifact_name: ${{ steps.openvino_download.outputs.ov_artifact_name }}
  #     ov_wheel_source: ${{ steps.openvino_download.outputs.ov_wheel_source }}
  #     ov_version: ${{ steps.openvino_download.outputs.ov_version }}
  #   timeout-minutes: 10
  #   defaults:
  #     run:
  #       shell: bash
  #   runs-on: aks-linux-medium-st
  #   container:
  #     image: 'openvinogithubactions.azurecr.io/openvino_provider:0.1.0'
  #     volumes:
  #       - /mount:/mount
  #       - ${{ github.workspace }}:${{ github.workspace }}
  #   continue-on-error: true

  #   steps:
  #   - uses: openvinotoolkit/openvino/.github/actions/openvino_provider@master
  #     id: openvino_download
  #     with:
  #       platform: windows
  #       commit_packages_to_provide: wheels,openvino_node_npm_package.zip
  #       revision: latest_available_commit
  #       # Set specific revision and uncomment to use OV from its PR build:
  #       # branch_name: master
  #       # event_name: pull_request

  # genai_build_wheel:
  #   name: genai wheel
  #   needs: [ openvino_download ]
  #   timeout-minutes: 90
  #   defaults:
  #     run:
  #       shell: pwsh
  #   runs-on: aks-win-8-cores-16gb-build-st
  #   env:
  #     OV_INSTALL_DIR: ${{ github.workspace }}\ov
  #     SRC_DIR: ${{ github.workspace }}\src
  #     BUILD_DIR: ${{ github.workspace }}\build
  #     INSTALL_DIR: ${{ github.workspace }}\genai
  #     WHEELS_DIR: ${{ github.workspace }}\genai\wheels
  #     CCACHE_DIR: ${{ github.workspace }}\ccache
  #     OpenVINODeveloperPackage_DIR: ${{ github.workspace }}\install\ov\developer_package\cmake

  #   steps:
  #     - name: Clone openvino.genai
  #       uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
  #       with:
  #         submodules: recursive
  #         path: ${{ env.SRC_DIR }}

  #     - name: Setup Python 3.11
  #       uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
  #       with:
  #         python-version: '3.11'
  #         cache: 'pip'

  #     - name: Download OpenVINO package
  #       uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
  #       with:
  #         name: ${{ needs.openvino_download.outputs.ov_artifact_name }}
  #         path: ${{ env.OV_INSTALL_DIR }}
  #         merge-multiple: true

  #     - name: Download and install ninja
  #       run: |
  #         Invoke-WebRequest https://github.com/ninja-build/ninja/releases/download/v1.11.1/ninja-win.zip -OutFile ninja-win.zip -MaximumRetryCount 10
  #         Expand-Archive -Force ninja-win.zip
  #         # Add it to the GitHub Path so it would be available in the subsequent steps
  #         Add-Content -Path $env:GITHUB_PATH -Value "${{ github.workspace }}/ninja-win"

  #     - name: Download and install ccache
  #       run: |
  #         Invoke-WebRequest -Uri 'https://github.com/ccache/ccache/releases/download/v4.9.1/ccache-4.9.1-windows-x86_64.zip' -OutFile 'ccache.zip'
  #         Expand-Archive -Path 'ccache.zip' -DestinationPath 'C:\temp\ccache'
  #         Move-Item -Path 'C:\temp\ccache\*' -Destination 'C:\ccache'
  #         Add-Content -Path $env:GITHUB_PATH -Value "C:\ccache"

  #     - name: Setup ccache
  #       id: ccache-restore
  #       uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
  #       with:
  #         key: ${{ runner.os }}-${{ runner.arch }}-ccache-${{ env.TARGET_BRANCH }}-Release-wheel-${{ github.sha }}
  #         restore-keys: |
  #           ${{ runner.os }}-${{ runner.arch }}-ccache-${{ env.TARGET_BRANCH }}-Release-wheel
  #         path: ${{ env.CCACHE_DIR }}

  #     - name: Set CI environment
  #       id: create_manifest
  #       uses: openvinotoolkit/openvino/.github/actions/create_manifest@master
  #       with:
  #         repos: ${{ env.SRC_DIR }}
  #         product_type: ${{ env.BASE_PRODUCT_TYPE }}_Release
  #         target_arch: 'x86_64'
  #         build_type: Release
  #         save_to: ${{ github.workspace }}

  #     #
  #     # Build
  #     #
  #     - name: Clean ccache stats
  #       run: ccache --zero-stats --show-config

  #     - name: Configure Developer Command Prompt for Microsoft Visual C++
  #       uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
  #       with:
  #         toolset: 14.42 # v2022

  #     - name: Build Tokenizers Wheel
  #       run: |
  #         python -m pip wheel -v --no-deps --wheel-dir ${{ env.WHEELS_DIR }} `
  #           --config-settings=override=cmake.generator='Ninja' `
  #           --config-settings=override=cmake.build_path='${{ env.BUILD_DIR }}/tokenizers' `
  #           ${{ needs.openvino_download.outputs.ov_wheel_source }} `
  #           ${{ env.SRC_DIR }}/thirdparty/openvino_tokenizers
  #       working-directory: ${{ env.OV_INSTALL_DIR }}

  #     - name: Build WWB Wheel
  #       run: python -m pip wheel -v --no-deps --wheel-dir ${{ env.WHEELS_DIR }} ${{ env.SRC_DIR }}/tools/who_what_benchmark
  #       working-directory: ${{ env.OV_INSTALL_DIR }}

  #     - name: Setup Python 3.10
  #       uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
  #       with:
  #         python-version: '3.10'
  #         cache: 'pip'

  #     - name: Setup Python 3.12
  #       uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
  #       with:
  #         python-version: '3.12'
  #         cache: 'pip'

  #     - name: Setup Python 3.13
  #       uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
  #       with:
  #         python-version: '3.13'
  #         cache: 'pip'

  #     - name: Build genai wheel
  #       run: |
  #         $pyVersions = '3.10', '3.11', '3.12', '3.13'
  #         foreach ($pyVersion in $pyVersions) {
  #           $pythonCommand = "py -$pyVersion -c `"import sys; print(f'{sys.executable}')`""
  #           $pythonExecutablePath = & cmd /c $pythonCommand

  #           & $pythonExecutablePath -m pip wheel -v --no-deps --wheel-dir ${{ env.WHEELS_DIR }} `
  #             --config-settings=override=cmake.generator='Ninja' `
  #             --config-settings=override=cmake.build_path='${{ env.BUILD_DIR }}/genai' `
  #             --config-settings='override=wheel.build_tag="${{ github.run_number }}"' `
  #             ${{ needs.openvino_download.outputs.ov_wheel_source }} `
  #             ${{ env.SRC_DIR }}
  #         }
  #       working-directory: ${{ env.OV_INSTALL_DIR }}

  #     - name: Show ccache stats
  #       run: ccache --show-stats

  #     #
  #     # Upload build artifacts
  #     #

  #     - name: Save ccache
  #       if: always() && steps.ccache-restore.outputs.cache-hit != 'true' && github.event_name == 'push'
  #       uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
  #       with:
  #         key: ${{ steps.ccache-restore.outputs.cache-primary-key }}
  #         path: ${{ env.CCACHE_DIR }}

  #     - name: Upload wheels
  #       if: ${{ always() }}
  #       uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
  #       with:
  #         name: genai_wheels
  #         path: ${{ env.INSTALL_DIR }}
  #         if-no-files-found: 'error'

  genai_tests_wheel:
    name: Python (${{ matrix.test.name}}) Tests (wheel)
    #needs: [ smart_ci, openvino_download, genai_build_wheel ]
    timeout-minutes: ${{ matrix.test.timeout }}
    strategy:
      fail-fast: false
      matrix:
        test:
          - name: 'WWB tests 1'
            cmd: 'python -m pytest -o log_cli=true --log-cli-level=DEBUG -s -v tools/who_what_benchmark/tests -k "tiny-stable-diffusion-torch-image-to-image-hf"'
            run_condition: true
            timeout: 120
          - name: 'WWB tests 2'
            cmd: 'python -m pytest -o log_cli=true --log-cli-level=DEBUG -s -v tools/who_what_benchmark/tests -k "tiny-stable-diffusion-torch-image-to-image-hf"'
            run_condition: true
            timeout: 120
          - name: 'WWB tests 3'
            cmd: 'python -m pytest -o log_cli=true --log-cli-level=DEBUG -s -v tools/who_what_benchmark/tests -k "tiny-stable-diffusion-torch-image-to-image-hf"'
            run_condition: true
            timeout: 120
          - name: 'WWB tests 4'
            cmd: 'python -m pytest -o log_cli=true --log-cli-level=DEBUG -s -v tools/who_what_benchmark/tests -k "tiny-stable-diffusion-torch-image-to-image-hf"'
            run_condition: true
            timeout: 120
          - name: 'WWB tests 5'
            cmd: 'python -m pytest -o log_cli=true --log-cli-level=DEBUG -s -v tools/who_what_benchmark/tests -k "tiny-stable-diffusion-torch-image-to-image-hf"'
            run_condition: true
            timeout: 120
          - name: 'WWB tests 6'
            cmd: 'python -m pytest -o log_cli=true --log-cli-level=DEBUG -s -v tools/who_what_benchmark/tests -k "tiny-stable-diffusion-torch-image-to-image-hf"'
            run_condition: true
            timeout: 120
    defaults:
      run:
        shell: pwsh
    runs-on: aks-win-16-cores-32gb-test-st
    env:
      INSTALL_DIR: ${{ github.workspace }}/install
      SRC_DIR: ${{ github.workspace }}/src
      BUILD_DIR: ${{ github.workspace }}/build
      LOG_LEVEL: DEBUG
      LOGLEVEL: DEBUG
      HF_HUB_DOWNLOAD_TIMEOUT: 60

    steps:
      - name: Clone openvino.genai
        if: ${{ matrix.test.run_condition }}
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          path: ${{ env.SRC_DIR }}
          submodules: recursive

      # - name: Download Build Artifacts
      #   if: ${{ matrix.test.run_condition }}
      #   uses: akashchi/download-artifact@d59a9c15fec3fdb7c9adf09464124d00f9c11415
      #   with:
      #     pattern: "{${{ needs.openvino_download.outputs.ov_artifact_name }},genai_wheels}"
      #     path: ${{ env.INSTALL_DIR }}
      #     merge-multiple: true

      - name: Copy and extract build artifacts
        run: |
          Copy-Item -Path "C:\mount\caches\pip\ababushk\windows.zip" -Destination "${{ env.INSTALL_DIR }}" -Force
          Copy-Item -Path "C:\mount\caches\pip\ababushk\genai_wheels.zip" -Destination "${{ env.INSTALL_DIR }}" -Force
          Expand-Archive -Path "${{ env.INSTALL_DIR }}\windows.zip" -DestinationPath "${{ env.INSTALL_DIR }}" -Force
          Expand-Archive -Path "${{ env.INSTALL_DIR }}\genai_wheels.zip" -DestinationPath "${{ env.INSTALL_DIR }}" -Force

      - name: Setup Python ${{ env.PYTHON_VERSION }}
        if: ${{ matrix.test.run_condition }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: Install GenAI Wheels
        if: ${{ matrix.test.run_condition }}
        uses: ./src/.github/actions/install_wheel
        with:
          packages: "openvino;openvino_tokenizers[transformers];openvino_genai;whowhatbench"
          requirements_files: "${{ env.SRC_DIR }}/tests/python_tests/requirements.txt"
          local_wheel_dir: ${{ env.INSTALL_DIR }}/wheels

      - name: DNS lookup
        run: |
          nslookup huggingface.co
          nslookup cdn-lfs.hf.co
          nslookup hf.co
          nslookup cas-bridge.xethub.hf.co
          nslookup datasets-server.huggingface.co
          nslookup ocsp.r2m02.amazontrust.com
          nslookup crl.r2m02.amazontrust.com

      - name: Run Reproducer
        run: |
          python ${{ env.SRC_DIR }}/reproducer.py

      - name: Tests
        if: ${{ matrix.test.run_condition }}
        run: ${{ matrix.test.cmd }}
        working-directory: ${{ env.SRC_DIR }}

      - name: Fail on purpose to avoid restarting the build only to reproduce test failures
        run: exit 1
